<div class="details" ng-controller="childController">
    <div class="detailsHeader">
        <a href="" ng-click="edit()">
            <img src="assets/images/edit.png" class="off"  id="edit" width="32px" height="32px"/>
        </a>
        <a href="#" ng-click="clearVar">
            <svg width="32" height="32" fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M3 17h18a1 1 0 0 1 .117 1.993L21 19H3a1 1 0 0 1-.117-1.993L3 17h18H3Zm0-6 18-.002a1 1 0 0 1 .117 1.993l-.117.007L3 13a1 1 0 0 1-.117-1.993L3 11l18-.002L3 11Zm0-6h18a1 1 0 0 1 .117 1.993L21 7H3a1 1 0 0 1-.117-1.993L3 5h18H3Z" fill="#212121"/></svg>
        </a>
    </div>
    <div class="personalInfo">
        <div class="name infoSection flexName">
            <label>Nome</label>
            <input type="text" ng-model="name" ng-disabled="editImg.classList[0] == 'off'" ng-class="{'disabled': editImg.classList[0] == 'off'}">
        </div>
        <div class="infoSection flexAge">
            <label>Idade</label>
            <input type="text" ng-model="age" ng-disabled="editImg.classList[0] == 'off'" ng-class="{'disabled': editImg.classList[0] == 'off'}">
        </div>    
    </div>
    <div class="infoSection">
        <label>Profissão</label>
        <input type="text" ng-model="occupation" ng-disabled="editImg.classList[0] == 'off'" ng-class="{'disabled': editImg.classList[0] == 'off'}">
    </div>
    <label for="descripition">Descrição</label>
    <textarea name="descripition" id="descripition" ng-model="description" ng-disabled="editImg.classList[0] == 'off'" ng-class="{'disabled': editImg.classList[0] == 'off'}"></textarea>
    <button ng-click="sendChange()" ng-disabled="editImg.classList[0] == 'off'" ng-class="{'buttonDisabled': editImg.classList[0] == 'off'}">Alterar</button>
</div>
